body{
    background: aliceblue;
}

.catname{
    font-size: 32px;
    padding: 3px;
}

.catdesc{
    padding: 3px;
    margin-bottom:20px;
    font-style: oblique;
    font-size:16px;
}

.catwrap{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding-top: 60px;
}

.category{
    padding: 3px;
    border: solid 2px blanchedalmond;
    background: #efefef;
    margin-bottom: 15px;
}
.category:hover {
    background-color: gray;
}


.thread{
    padding: 3px;
    margin-left: 2px;
    margin-bottom: 5px;
    background: #cdcdcd;
    box-shadow: 3px 3px 6px black;
}
.thread:hover {
    background-color: darkgrey;
}

.threadauthor{
    font-size: 12px;
    padding: 3px;
    font-style: oblique ;
}
.threaddate{
    font-size: 12px;
}
.threadname{
    font-size: 24px;

}
a div{
    text-decoration:none;
    color: #111111;

}

a {
    text-decoration: none;
    color: #111111;
}

a span {
    text-decoration: none;
    color: #111111;
}

.btn {
    background-color: blanchedalmond;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    align-content: flex-end;
    float: right;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #fffbca;
}

.form{
    padding: 3px;
    border: solid 2px blanchedalmond;
    background: #efefef;
    margin-bottom: 15px;

}
.inp{
    margin: 20px;
    display: block;

}
input[type=text] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     background-color: #f8f8f8;
     border-radius: 4px;
     border: 2px solid #ccc;
 }
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn1 {
    background-color: blanchedalmond;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    position: sticky;

    float: right;
    margin-top: 70px;
}

/* Darker background on mouse-over */
.btn1:hover {
    background-color: #fffbca;
}

.del {
    /*background-color: ;*/
    border: none;
    text-decoration: underline;
    color: red;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    text-align: right;
}

/* Darker background on mouse-over */
.del:hover {
    color: darkred;
}

.deltxt{
    color: red;
}

.btndanger {
    background-color: red;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    align-content: flex-end;
    float: right;
}

/* Darker background on mouse-over */
.btndanger:hover {
    background-color: darkred;
}

.report{
    color: red;
}

.report {
    background-color: red;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    margin-left: 92%;
}