<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div th:replace="layout/main :: header"></div>
<div class="catwrap">
    <div class="form">
        <form action="/message/editt"  th:object="${msg}" method="post">
            <input hidden type="text" id="msgid" name="msgid" th:value="msg.messageId"  th:field="*{messageId}" />
            <input hidden type="text" id="thred" name="thred" th:value="msg.threadId"  th:field="*{threadId}" />


            <div class="inp">
                <label for="topic">Treść</label>
                <input type="text" id="topic" name="topic"  th:field="*{messageContent}" />
            </div>
            <button type=submit class="btn"><i class="fa fa-check"></i> gotowe</button>
        </form>
    </div>
</div>
</body>
</html>